body {
 margin: auto;
 color: #282828;
 line-height: 1.5;
 background-color: #FFFFFF;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

div.main {
 margin: auto;
 width: 700px;
 background-color: #F0F0F0;
}

.fullMark {
  background-color: #B0B0B0;
  color: #000000;
  padding : 5px;
  width:700px;
}

.pageButton {
   font-family: "Gill Sans", sans-serif;
    background-color: #D0D0D0;
    color: black;
    padding: 10px 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
   width : 346px;
   color : #000814;
   font-weight: bold;
   font-size: 24px;
}

form {
   display: flex;
   align-items: stretch;
   width: 700px;
}

.searchButton {
   font-family: "Gill Sans", sans-serif;
   background-color: #D0D0D0;
   color: #000814;
   padding: 10px 0px;
   border: none;
   border-radius: 0px;
   cursor: pointer;
   font-weight: bold;
   font-size: 24px;
   margin-left: -1px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.searchBar {
   box-sizing: border-box;
   margin: 0;
   width: 100%;
   padding: 10px;
   font-family: "Gill Sans", sans-serif;
   font-size: 24px;
   font-weight: bold;
   color: #000814;
   border: none;
   border-radius: 0px;
   outline: none;
   box-sizing: border-box;
   justify-content: center;
}

.pxGap {
   margin-bottom : 5px;
}

table {
  border: 1px solid #F0F0F0;
  table-layout: fixed;
  width: 700px;
  background-color: #f0f0f0;
}

th,
td {
  border: 1px solid #F0F0F0;
  width: 232px;
  overflow: hidden;
  background-color: #f0f0f0;
  padding : 0px;
}

a {
 font-weight: bold;
 color: #5A3B1E ;
 background-color : f0f0f0;
}

a:hover {
}

img.wiki {
 padding: 10px 0px 10px 0px;
 border-radius: 5%;
}

table.wiki {
 border-collapse: collapse;
}

h1 {
   margin: 0;
}

th.wiki, td.wiki{
 vertical-align: top;
 padding: 10px;
 border: 1px solid #c8c8c8;
}