<!DOCTYPE html>
<html>
<head>
   <title>{{ .Title }}</title>
   <link rel='stylesheet' href='templs/home.css' type=text/css>
   <meta charset="UTF-8">
</head>
<body>
<div class='main'>
   <div style="margin-bottom: 5px;"><img src="media/Logo.png"alt="Logo" width="700"></div>
   <div style="text-align: center; margin-bottom: 5px;">
      <h1 class="fullMark pxGap">Recipes</h1>
      <button class="pageButton" onclick="window.location.href='sweet/list'">
      Sweet
      </button>
      <button class="pageButton pxGap" onclick="window.location.href='savoury/list'">
      Savoury
      </button>
      <form action="/search" method="GET" id="searchForm">
         <input type="text" name="query" placeholder="" class="searchBar" id="searchInput"/>
         <button type="submit" class="searchButton"><img src="media/searchicon.png" width="35" height="35"></button>
      </form>
      <div id="searchResults" class="search-results"></div>
      <br>
      <h3 class="fullMark pxGap">Camera Roll</h3>
   </div>
<div class="gallery">
  {{ range where site.RegularPages "Section" "gallery" }}
    <div class="gallery-item">
      <a href="{{ .RelPermalink }}">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
      </a>
    </div>
  {{ end }}

{{ range where (where site.RegularPages "Section" "recipes") "Params.image" "!=" nil }}

  <div class="gallery-item">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}" alt="{{ .Title }}">
    </a>
  </div>

{{ end }}
</div>
</div>
</div>
</body>
</html>

<script>
let recipes = [];

fetch('/index.json')
  .then(res => res.json())
  .then(data => recipes = data);

const input = document.getElementById("searchInput");
const resultsBox = document.getElementById("searchResults");

input.addEventListener("input", function() {
  let query = input.value.trim().toLowerCase();

  if (query === "") {
    resultsBox.innerHTML = "";
    return;
  }

  let matches = recipes
    .filter(r => r.title.toLowerCase().includes(query))
    .slice(0, 5);

  resultsBox.innerHTML = matches.map(r => `
    <div class="search-item" onclick="window.location.href='${r.url}'">
      ${r.title}
    </div>
  `).join("");
});
</script>
