<!DOCTYPE html>
<html>
<head>
   <title>{{ .Title }}</title>
   <link rel='stylesheet' href='templs/home.css' type=text/css>
   <meta charset="UTF-8">
</head>
<body>
<div class='main'>
   <div style="margin-bottom: 5px;"><img src="media/Logo.png"alt="Logo" width="700"></div>
   <div style="text-align: center; margin-bottom: 5px;">
      <h1 class="fullMark pxGap">Recipes</h1>
      <button class="pageButton" onclick="window.location.href='sweet_gallery'">
      Sweet
      </button>
      <button class="pageButton pxGap" onclick="window.location.href='savoury_gallery'">
      Savoury
      </button>
      <form action="/search" method="GET" id="searchForm">
         <input type="text" name="query" placeholder="" class="searchBar" id="searchInput"/>
         <button type="submit" class="searchButton"><img src="media/searchicon.png" width="35" height="35"></button>
      </form>
      <br>
      <h3 class="fullMark pxGap">Camera Roll</h3>
   </div>
<div class="gallery">
  {{ range where site.RegularPages "Section" "gallery" }}
    <div class="gallery-item">
      <a href="{{ .RelPermalink }}">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
      </a>
    </div>
  {{ end }}

{{ range where site.RegularPages "Params.image" "!=" "" }}
  {{ if eq .Section "recipes" }}

    <div class="gallery-item">
      <a href="{{ .RelPermalink }}">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
      </a>
    </div>

  {{ end }}
{{ end }}
</div>
</div>
</div>
</body>
</html>

<script>
document.getElementById("searchForm").addEventListener("submit", function(e) {
   e.preventDefault();
   let query = document.getElementById("searchInput").value.trim();
   if (query === "") return;
   let formattedQuery = query.split(" ").join("+");
   window.location.href = `/${formattedQuery}`;
});
</script>
