<!DOCTYPE html>
<html>
<head>
   <title>{{ .Title }}</title>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
   <link rel='stylesheet' href='templs/home.css' type=text/css>
   <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class='main'>
   <!--<div style="margin-bottom: 5px;"><img src="/images/banner.png"alt="Logo" width="700"></div>-->
   <div style="text-align: center; margin-bottom: 5px;">
      <h1 class="fullMark pxGap"> COOKBOOK </h1>
      <br><br>
      <div class="hero-container">
      <div class="hero">
      <a href="/sweet/gallery" class="hero">
        <img src="/images/placeholderimage2.jpg" alt="background">
        <h1 class="hero-text">SWEET</h1>
      </a>
      </div>
      <div class="hero">
      <a href="/savoury/gallery" class="hero">
        <img src="/images/biryani.jpg" alt="background">
        <h1 class="hero-text">SAVOURY</h1>
      </a>
      </div>
      </div>
      <div class="search-wrapper">
        <div class="searchBarWrap">
        <form id="searchForm" autocomplete="off">
          <input type="text"
                 id="searchInput"
                 name="query"
                 class="searchBar"
                 autocomplete="off" />
          <button type="submit" class="searchButton">
            <img src="/images/searchiconweb.png" width="35" height="35">
          </button>
        </form>
        </div>
        <div id="searchResults" class="search-results"></div>
      </div>
      <br>
      <h3 class="fullMark pxGap">Camera Roll</h3>
   </div>
<div class="gallery">
  {{ range where site.RegularPages "Section" "gallery" }}
    <div class="gallery-item">
      <a href="{{ .RelPermalink }}">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
      </a>
    </div>
  {{ end }}

{{ range where (where site.RegularPages "Section" "recipes") "Params.image" "!=" nil }}

  <div class="gallery-item">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}" alt="{{ .Title }}">
    </a>
  </div>

{{ end }}
</div>
</div>
</div>
</body>
</html>

<script>
let recipes = [];

fetch('/index.json')
  .then(res => res.json())
  .then(data => recipes = data);

const input = document.getElementById("searchInput");
const resultsBox = document.getElementById("searchResults");

input.addEventListener("input", function() {
  let query = input.value.trim().toLowerCase();

  if (query === "") {
    resultsBox.innerHTML = "";
    return;
  }

  let matches = recipes
    .filter(r => r.title.toLowerCase().includes(query))
    .slice(0, 5);

  resultsBox.innerHTML = matches.map(r => `
    <div class="search-item" onclick="window.location.href='${r.url}'">
      ${r.title}
    </div>
  `).join("");
});
</script>
